[submodule "home/.zsh.d/zsh-bundle-exec"]
	path = home/.zsh.d/zsh-bundle-exec
	url = git@github.com:rhysd/zsh-bundle-exec.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "home/.zsh.d/cd-bookmark"]
	path = home/.zsh.d/cd-bookmark
	url = git@github.com:mollifier/cd-bookmark.git
